# MongoDB connection configuration
quarkus.mongodb.connection-string=xxxxxxxxxxxxxxxxxxxxxxxxxx
quarkus.mongodb.database=xxxxxxxxxxxxxx

# Application configuration
quarkus.application.name=demo-api-mongodb
quarkus.http.port=8080

# Log configuration
quarkus.log.console.enable=true
quarkus.log.console.format=%d{HH:mm:ss} %-5p [%c{2.}] (%t) %s%e%n
quarkus.log.console.level=INFO
quarkus.log.category."com.example".level=DEBUG
